.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-index-main-ui {
  overflow: hidden;
  width: 750px !important;
  position: relative;
}

.zmiti-index-main-ui .zmiti-index-img,
.zmiti-index-main-ui video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: auto;
  z-index: 100;
}

.zmiti-index-main-ui .zmiti-index-img.active {
  max-height: 100vh;
  width: auto;
  height: auto;
  max-width: 100vw;
}

.zmiti-index-main-ui .zmiti-index-mask {
  background: #f23426;
  color: #fff;
  z-index: 101;
  text-align: center;
}

.zmiti-index-main-ui .zmiti-index-mask > img {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.zmiti-index-main-ui .zmiti-index-mask .zmiti-index-mask-nickname {
  position: absolute;
  width: 100%;
  top: 24vh;
  font-size: 34px;
  color: #ffd451;
}

.zmiti-index-main-ui .zmiti-index-mask .zmiti-open {
  position: absolute;
  z-index: 10;
  bottom: 10vh;
  width: 150px;
  left: 50%;
  margin-left: -75px;
}

.zmiti-index-main-ui .zmiti-img {
  position: relative;
  z-index: 20;
}

.zmiti-index-main-ui .zmiti-tip {
  position: absolute;
  width: 100%;
  text-align: center;
}

.zmiti-index-main-ui .zmiti-wish-text {
  position: absolute;
  z-index: 30;
  top: 60px;
  width: 90%;
  left: 5%;
  color: #fff;
}

.zmiti-index-main-ui .zmiti-poster {
  z-index: 100;
  background: #000;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-index-main-ui .zmiti-poster img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
}

.zmiti-index-main-ui .zmiti-create-btn {
  margin: 80px auto;
  width: 180px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: blue;
}

.zmiti-index-main-ui .zmiti-start {
  position: absolute;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #ccc;
  line-height: 100px;
  left: 50%;
  margin-left: -50px;
  z-index: 10;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.zmiti-index-main-ui .zmiti-start.active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.zmiti-index-main-ui .zmiti-canvas {
  position: absolute;
  left: 0;
  bottom: 0;
}

.zmiti-index-main-ui .zmiti-btns {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  position: absolute;
  bottom: 100px;
  left: 50%;
  color: #ffd451;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 103;
}

.zmiti-index-main-ui .zmiti-btns > div {
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 60px;
  margin: 0 50px;
  font-size: 24px;
}

.zmiti-index-main-ui .zmiti-share {
  bottom: 60px;
}

.zmiti-index-main-ui .zmiti-share > div {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 60px;
  margin: 0 50px;
  font-size: 24px;
}

.zmiti-index-main-ui .zmiti-cacheimg {
  -webkit-transform: scale(0.74);
  transform: scale(0.74);
  -webkit-transform-origin: center 10%;
  transform-origin: center 10%;
}

.zmiti-index-main-ui .zmiti-cacheimg > div {
  position: absolute;
  left: -40px;
  width: 30px;
  bottom: 0;
  color: #ffd451;
}

.zmiti-index-main-ui .zmiti-prize {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  color: #fcffb4;
}

.zmiti-index-main-ui .zmiti-prize .zmiti-input-tip {
  text-align: left;
  width: 90%;
  margin-bottom: 20px;
  font-size: 32px;
}

.zmiti-index-main-ui .zmiti-prize .zmiti-prize-img {
  width: 90%;
  margin-top: 20px;
}

.zmiti-index-main-ui .zmiti-prize .zmiti-input {
  border: 1px solid #fff;
  width: 90%;
  padding: 10px 0;
}

.zmiti-index-main-ui .zmiti-prize .zmiti-input img {
  width: 100px;
  margin-left: 4%;
}

.zmiti-index-main-ui .zmiti-prize .zmiti-input input {
  outline: none;
  height: 60px;
  color: #fcffb4;
  background: transparent;
  width: 80%;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 30px;
  border: none;
}

.zmiti-index-main-ui .zmiti-arrow {
  position: absolute;
  width: 500px;
  right: 30px;
  top: 10px;
}

.zmiti-index-main-ui .zmiti-createimg {
  background: #000;
}

.zmiti-index-main-ui .zmiti-mask {
  position: absolute;
  z-index: 1002;
  background: rgba(0, 0, 0, 0.8);
}

.zmiti-qrcode {
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: 7vh;
  left: 50%;
  margin-left: -70px;
  z-index: 100;
}

.zmiti-nickname {
  position: absolute;
  z-index: 103;
  bottom: 23vh;
  left: 50%;
  color: #fff;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

@media all and (min-height: 1110px) {
  .zmiti-nickname {
    bottom: 23.5vh;
  }
}

@media all and (min-height: 1448px) {
  .zmiti-nickname {
    bottom: 26vh;
  }
}
